.items-container{
    overflow-x: hidden;
    margin-top: 10px;
}
.item-container{

}
.nav-img-container{
    width:150px;
    height:200px;
    overflow: hidden;
}
.item-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 600;
}
.item-button{
    background-color: rgb(147, 87, 45);
    border: transparent;
    color:white;
    border-radius: 5px;
}
.item-price{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: larger;
   font-weight: 600; 
   padding-bottom: 2px;
}
.item-rating{
    margin-top: 1px;
    background-color: green;
    border: transparent;
    color:white;
    border-radius: 5px;
    margin-left: 2px;
   
}
