.title-background-color{
    color:white;
    text-align: center;
    padding: 20px;
    font-family:roboto;
    background: linear-gradient(to right, #4e7282, #c25c65 50%, #4e7282);
}
.title-bar-container{
  
}