.nav-background-color{
    background-color: rgb(255, 255, 255);
    font-family: roboto;
    
}
.nav-text-color{
    color:rgb(51, 51, 51) !important;
}
.nav-name-title{
    font-weight: 900;
    color:rgb(51, 51, 51) !important;
    font-family: roboto;
    font-size: xx-large;
}
.nav-login-button{
    margin-right: 10px;
    
}
.nav-item{
    margin-left: 20px;
}